.blu {
    background-color: #4c6b9c;
    width: 600px;
    height: 50px;
    padding-top: 6px;
    line-height: 20px;
}

label {
    color: white;
}

.tabella {
    width: 600px;
}

th {
    padding: 10px;
    padding-left: 60px;
}